:root {
  --bg-color: #191b20;
  --light-color: #2b364d;
  --dark-color: #1f2430;
  --radius: 10px;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-size: calc(1.525rem + 3.3vw);
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  color: #e4e4e4;
}

.title {
  font-size: 2em;
}

#main {
  width: 100%;
  height: 100vh;
  padding: 2em;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

#leftSide {
  float: left;
  height: auto;
  font-family: var(--bs-font-sans-serif) !important;
  background-color: var(--light-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: var(--radius) 0 0 var(--radius);
  box-shadow: var(--shadow);
  z-index: 1;
  /* disable selecting */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#rightSide {
  float: right;
  height: auto;
  font-family: var(--bs-font-monospace) !important;
  background-color: var(--dark-color);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: var(--shadow);
}

/* Custom scroll bar that matches the theme */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
  border-radius: 5px;
}

/* Match file input to theme */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: var(--dark-color);
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

.custom-file-upload:hover {
  filter: brightness(1.2);
}