.parent {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "input"
    "output";
  height: 100vh;
}

.div1 {
  height: 10vh;
  grid-area: input;
  background-color: #282b30;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 20%);
  position: relative;
  user-select: none;
}
.div2 {
  height: 90vh;
  grid-area: output;
  background-color: #1e2124;
}

.modal {
  font-size: 1em;
  z-index: 1000;
  background-color: #272a2e;
  border-radius: 5px;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 20%);
  padding: 2em;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}